.col-h2
{
    text-align: center;
    font-weight: 500;
}

.col-legend
{
    color: $color_p;
    text-align: center;
}

.col-round
{
    margin: auto;

    text-align: center;
    color: $color_accent;
    font-size: 60px;
    line-height: 80px;
}