@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500");
/* line 1, ../scss/bases/_bases.scss */
html, body {
  height: 100%;
}

/* line 4, ../scss/bases/_bases.scss */
html {
  overflow: hidden;
}

/* line 9, ../scss/bases/_bases.scss */
body {
  font-family: "Open Sans","OpenSans",sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 21, ../scss/bases/_bases.scss */
* {
  box-sizing: border-box;
}

/* line 26, ../scss/bases/_bases.scss */
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* line 33, ../scss/bases/_bases.scss */
button {
  font-size: 16px;
  color: inherit;
}

/* line 40, ../scss/bases/_bases.scss */
p {
  font-family: "Open Sans","OpenSans",sans-serif;
  font-size: 16px;
  line-height: 1.35;
}

/* line 1, ../scss/bases/_field.scss */
input[type="mail"], input[type="text"], input[type="password"] {
  flex: auto;
  height: inherit;
  padding: 5px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: inherit;
  font-size: 1.25em;
  background-color: transparent;
}
/* line 61, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="mail"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
/* line 64, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="mail"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
/* line 67, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="mail"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}
/* line 56, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="mail"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}

/* line 15, ../scss/modules/_btn.scss */
.btn-imp {
  padding: 5px 24px 6px 24px;
  border-radius: 5px;
  border: solid 2px;
  border-color: #f09233;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: #f09233;
}

/* line 21, ../scss/modules/_btn.scss */
.btn-notimp {
  padding: 5px 24px 6px 24px;
  border-radius: 5px;
  border: solid 2px;
  border-color: #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}

/* line 1, ../scss/modules/_header.scss */
.header {
  color: #fff;
}

/* line 5, ../scss/modules/_header.scss */
.header-top {
  background: #4caf50;
}

/* line 9, ../scss/modules/_header.scss */
.header-top-right-link {
  margin-left: 20px;
}

/* line 13, ../scss/modules/_header.scss */
.header-search-form {
  padding: 0 50px;
}

/* line 17, ../scss/modules/_header.scss */
.header-search-input {
  flex: auto;
  height: inherit;
  padding: 5px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: inherit;
  font-size: 1.25em;
  background-color: transparent;
}
/* line 61, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.header-search-input:-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
/* line 64, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.header-search-input::-moz-placeholder {
  color: #fff;
  font-weight: 300;
}
/* line 67, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.header-search-input:-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}
/* line 56, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.header-search-input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300;
}

/* line 33, ../scss/modules/_header.scss */
.header-search-submit {
  height: 60px;
  width: 60px;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

/* line 41, ../scss/modules/_header.scss */
.fleche {
  font-size: 50px;
  line-height: 50px;
  color: #fff;
}

/* line 47, ../scss/modules/_header.scss */
.header-continuity {
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../img/2.jpg");
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../img/2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../img/2.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

/* line 61, ../scss/modules/_header.scss */
.header-continuity-darken {
  padding-bottom: 50px;
  min-height: 100%;
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6)), url("../img/2.jpg");
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.6)), url("../img/2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../img/2.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

/* line 75, ../scss/modules/_header.scss */
.header-top-right-link {
  color: rgba(255, 255, 255, 0.8);
}
/* line 77, ../scss/modules/_header.scss */
.header-top-right-link:hover {
  color: white;
  transition: 0.2s;
}

/* line 1, ../scss/modules/_footer.scss */
.footer {
  background: #6d7986;
  color: #fff;
  border-top: solid #4caf50 5px;
}

/* line 3, ../scss/modules/_section.scss */
.part-3 {
  background: url(../img/5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 100%;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
}

/* line 20, ../scss/modules/_section.scss */
.h2 {
  text-align: center;
  font-weight: 300;
}

/* line 27, ../scss/modules/_section.scss */
.h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 1.286;
}

/* line 35, ../scss/modules/_section.scss */
.section-under-title {
  color: #6d7986;
  text-align: center;
}

/* line 1, ../scss/modules/_row.scss */
.col-h2 {
  text-align: center;
  font-weight: 500;
}

/* line 7, ../scss/modules/_row.scss */
.col-legend {
  color: #6d7986;
  text-align: center;
}

/* line 13, ../scss/modules/_row.scss */
.col-round {
  margin: auto;
  text-align: center;
  color: #f09233;
  font-size: 60px;
  line-height: 80px;
}

/* line 1, ../scss/modules/_pricing.scss */
.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 8, ../scss/modules/_pricing.scss */
.pricing-col {
  width: 200px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(22, 22, 22, 0.5);
  border-radius: 10px;
}

/* line 23, ../scss/modules/_pricing.scss */
.pricing-col-1 .pricing-col-h2 {
  color: blue;
}

/* line 30, ../scss/modules/_pricing.scss */
.pricing-col-2 .pricing-col-h2 {
  color: red;
}

/* line 38, ../scss/modules/_pricing.scss */
.pricing-col-h2 {
  text-align: center;
  font-weight: 500;
}

/* line 44, ../scss/modules/_pricing.scss */
.pricing-col-legend {
  color: #6d7986;
  text-align: center;
}

/* line 50, ../scss/modules/_pricing.scss */
.pricing-col-round {
  margin: auto;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  color: #f09233;
}

/* line 62, ../scss/modules/_pricing.scss */
.pricing-btn {
  text-align: center;
}

/* line 1, ../scss/layout/large/_header.scss */
.header-top-l {
  width: 100%;
}

/* line 6, ../scss/layout/large/_header.scss */
.header-top-left-l {
  float: left;
}

/* line 10, ../scss/layout/large/_header.scss */
.header-top-right-l {
  float: right;
}
/* line 13, ../scss/layout/large/_header.scss */
.header-top-right-l:after {
  clear: both;
}

/* line 19, ../scss/layout/large/_header.scss */
.header-top-right-l, .header-top-left-l {
  padding: 9px 20px;
}

/* line 24, ../scss/layout/large/_header.scss */
.header-search-l {
  display: flex;
  padding: 20px;
}

/* line 30, ../scss/layout/large/_header.scss */
.header-search-form {
  flex-grow: 1;
}

/* line 34, ../scss/layout/large/_header.scss */
.logo {
  flex-grow: 0;
  font-size: 50px;
}

/* line 39, ../scss/layout/large/_header.scss */
.header-search-login {
  flex-grow: 0;
}

/* line 45, ../scss/layout/large/_header.scss */
.test {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 55, ../scss/layout/large/_header.scss */
.fleche-l {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 50px;
  height: 50px;
}

/* line 1, ../scss/layout/large/_footer.scss */
.footer-left-l {
  float: left;
}

/* line 5, ../scss/layout/large/_footer.scss */
.footer-right-l {
  float: right;
}

/* line 10, ../scss/layout/large/_footer.scss */
.footer-right-l, .footer-left-l {
  padding: 9px 20px;
}

/* line 15, ../scss/layout/large/_footer.scss */
.footer-l {
  width: 100%;
  display: flex;
  padding: 40px;
}
/* line 21, ../scss/layout/large/_footer.scss */
.footer-l:after {
  clear: both;
}

/* line 1, ../scss/layout/large/_grid.scss */
.container {
  width: 100%;
  max-width: 1060px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 8, ../scss/layout/large/_grid.scss */
.container p {
  padding-bottom: 20px;
}

/* line 1, ../scss/layout/large/_row.scss */
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 8, ../scss/layout/large/_row.scss */
.col-l {
  width: 200px;
}
