input[type="mail"], input[type="text"], input[type="password"]
{
    flex: auto;
    height: inherit;
    padding: 5px;
    padding-left: 15px;
    
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 0;
    
    color: inherit;
    font-size: 1.25em;

    background-color: transparent;
    
    @include input-placeholder {
    color: #fff;
    font-weight: 300;
  }
}